@import 'variables';
body#bumblebee{
button{
   border-radius: 5px; 
   padding:5px 10px  5px 10px ;
   background-color: $primary-color;
   color: $primary-text;

   &:hover{
    background-color: $tetiary-color;
    color: $primary-color
   }

}


.#{$button-prefix}-primary {
    @extend button;
    border: 1px solid $accent-color;

    background-color: $secondary-color;
    &:hover{
        background-color: $accent-color;
        color: $secondary-text;
    }
}

.#{$button-prefix}-secondary{
    @extend button;
    border: 1px solid $primary-color;
    background-color: $accent-color;
    color: $secondary-text;

    &:hover{
        background-color: $primary-color;
        color: $accent-color;
        border: 1px solid $tetiary-color;
    }

}
}