$primary-color: #18191A;

$secondary-color: #242526;

$tetiary-color:#ffffff;
$accent-color: #ffc107;

//font-colors
$primary-text:#e4e6eb;
$secondary-text:#18191A;

$button-prefix:"btn";

$base-padding: 1rem;
$base-margin: 1rem;

$font-size-sm: 20px;

$base-font-size:30px;

$font-size-lg:40px;

$font-size-xl:50px;

$font-size-xxl:60px;