//importing Buttons
@import 'buttons';

//importing variables
@import 'variables';

// importing utility classes
@import 'utilities';

body#bumblebee{
    background-color: $primary-color;
    margin: 0;


p, h1, h2, h3, label{
    color: $tetiary-color;
}

// Navigation bar
.nav {
    background-color: $secondary-color;
    padding: 15px;
  
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  
      li {
        display: inline-block;
        margin-right: 30px;
  
        a {
          color: #ffffff;
          text-decoration: none;
          //Note the use of & within the nested selector (&:hover). The & symbol refers to the parent selector, allowing you to create nested pseudo-classes or pseudo-elements.
          &:hover {
            text-decoration: underline;
            color: $accent-color;
          }
        }//Closes 'a' tag
      }//Closes 'li' tag
    }//Closes 'ul' tag
  }//Closes 'nav' class

  

  //List Styles
  ul{
    max-width:max-content;
    
    li{
        list-style-type:  none;
        color: $primary-text;
        padding: 10px;
        
        
        a{
            text-decoration: none;
            color: $accent-color;

            &:hover{
                text-decoration: underline;
            }
        }
        
    }

  }

  //table styles
table{
    tr{
        th{
        color: $accent-color;
    }
    td{
        color: $tetiary-color;
    }
    }
}

//input style
input{
    background-color: #3a3b3c;
    border: none;
    color: $accent-color;

    &:active{
        border: 1px solid $accent-color;
    }
}

}